
.icon-plus:before { content: '\e80b'; } /* '?' */
.icon-gplus:before { content: '\e81a'; } /* '?' */
.icon-vk:before { content: '\e817'; } /* '?' */
.icon-facebook:before { content: '\e818'; } /* '?' */
.icon-star:before { content: '\e80c'; } /* '?' */
.icon-edit:before { content: '\e815'; } /* '?' */
.icon-heart:before { content: '\e806'; } /* '?' */
.icon-trash:before { content: '\e809'; } /* '?' */
.icon-user:before { content: '\e804'; } /* '?' */
.icon-search:before { content: '\e808'; } /* '?' */
.icon-camera:before { content: '\e803'; } /* '?' */
.icon-tag:before { content: '\e801'; } /* '?' */
.icon-pencil:before { content: '\e802'; } /* '?' */
.icon-mail:before { content: '\e807'; } /* '?' */
.icon-top:before { content: '\e800'; } /* '?' */
.icon-clock:before { content: '\e82a'; } /* '?' */
.icon-params:before { content: '\e80a'; } /* '?' */
.icon-cancel-circled:before { content: '\e834'; } /* '?' */
.icon-arrows-cw:before { content: '\e80f'; } /* '?' */
.icon-flash-outline:before { content: '\e837'; } /* '?' */
.icon-ok-circled:before { content: '\e833'; } /* '?' */
.icon-comments:before { content: '\e828'; } /* '?' */
.icon-asl:before { content: '\e829'; } /* '?' */
.icon-doc-new:before { content: '\e81c'; } /* '?' */
.icon-star-filled:before { content: '\e81e'; } /* '?' */
.icon-menu:before { content: '\e810'; } /* '?' */
.icon-user-add-outline:before { content: '\e81f'; } /* '?' */
.icon-user-add:before { content: '\e816'; } /* '?' */
.icon-lock:before { content: '\e826'; } /* '?' */
.icon-eye:before { content: '\e80e'; } /* '?' */
.icon-comment:before { content: '\e814'; } /* '?' */
.icon-share:before { content: '\e823'; } /* '?' */
.icon-logout:before { content: '\e831'; } /* '?' */
.icon-refresh:before { content: '\e805'; } /* '?' */
.icon-link:before { content: '\e835'; } /* '?' */
.icon-bookmark-0:before { content: '\e83c'; } /* '?' */
.icon-folder-empty:before { content: '\e813'; } /* '?' */
.icon-twitter:before { content: '\e824'; } /* '?' */
.icon-odnoklassniki:before { content: '\e81b'; } /* '?' */
.icon-photoset:before { content: '\e82c'; } /* '?' */
.icon-picture:before { content: '\e821'; } /* '?' */
.icon-thumbs-up:before { content: '\e81d'; } /* '?' */
.icon-thumbs-down:before { content: '\e822'; } /* '?' */
.icon-chart:before { content: '\e82e'; } /* '?' */
.icon-chart-bar:before { content: '\e811'; } /* '?' */
.icon-bookmark:before { content: '\e80d'; } /* '' */